body{
    background:linear-gradient(-45deg,rgb(20,21,22),rgb(77, 71, 71),rgb(30,31,30));
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
}
#genejou th{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(93, 153, 4);
}
.sele{
    background-color: rgb(31, 30, 30);
    color:white;
    border-bottom: 1px solid grey;
    padding:10px;
    border:1px solid rgb(93, 153, 4);
}
.sele option:hover{
    background-color: rgb(93, 153, 4);

}

#genejou td ,th{
    padding: 10px;
    border:1px solid grey;

}
input[type='text']{
    border: none;
    padding:10px;
    background-color: rgb(31, 30, 30);
    color:white;
    border-bottom: 1px solid grey;
}
input[type='text']:focus{
    padding:10px;
    border: none;
    border-bottom: 3px solid rgb(93, 153, 4);
}
#dis{
    display:none;
}
