#genejou {
    border-collapse: collapse;
    width: 100%;
}
#genejou td ,th{
    padding: 10px;
    border:1px solid grey;

}
input[type='text']{
    border: none;
    border-bottom: 1px solid grey;
}
input[type='text']:focus{
    padding:10px;
    border: none;
    border-bottom: 3px solid red;
}